<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--创建的映射文件文件名与对应的接口的全类名对应-->
<mapper namespace="com.cz.huawei_demo.dao.ShopCarMapper">
    <cache type="org.mybatis.caches.redis.RedisCache" />
    <!--
    购物车商品提交订单的时候将购物车表中的信息转存到订单关联表中
    -->
    <insert id="addOrderCommodityFromShopCar">
        insert into orders_commodity
        (belong_order_id,commodity_id,commodity_number,commodity_options,commodity_price,commodity_img)
        select
        #{orderId},sc_commodity_id,sc_commodity_number,sc_commodity_options,sc_commodity_price,sc_commodity_img
        from shop_car
        where shop_car_id = #{shopCarId}
    </insert>
    <!--
    /*根据用户id获取自己的购物车商品*/
    @Select("select * from shop_car where user_id = #{userId}")
    List<ShopCarCommodity> getAllSCCommodity(@Param("userId")String UserId);
    -->
    <select id="getAllSCCommodity" parameterType="string" resultMap="getAllSCCommodityMap">
<!--    <select id="getAllSCCommodity" resultType="shopCarCommodity">-->
        select * from shop_car
        inner join commodity
        on shop_car.sc_commodity_id = commodity.id
        where shop_car.user_id = #{userId}
    </select>
    <resultMap id="getAllSCCommodityMap" type="shopCarCommodity">
        <id property="shopCarId" column="shop_car_id"/>
        <result property="userId" column="user_id"/>
        <result property="scCommodityId" column="sc_commodity_id"/>
        <result property="scCommodityPrice" column="sc_commodity_price"/>
        <result property="scCommodityNumber" column="sc_commodity_number"/>
        <result property="scCommodityOptions" column="sc_commodity_options"/>
        <result property="scCommodityImg" column="sc_commodity_img"/>
        <association property="commodity" select="getCommodityById" column="sc_commodity_id" javaType="commodity">
        </association>
    </resultMap>

    <select id="getCommodityById" resultType="commodity">
        select * from commodity where id = #{sc_commodity_id}
    </select>


</mapper>